<!DOCTYPE HTML>
<html lang="en-US">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Cleanmaster- Construction & Architecture HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
    <!-- Include All CSS here-->
    @Styles.Render("~/Content/frontCss")
    <!-- modernizr js -->
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- End Include All CSS -->


</head>
<body>

    @RenderBody();




    <!-- Include All JS -->
    @Scripts.Render("~/bundles/frontjs")
    @RenderSection("scripts", required: false)

</body>
</html>